aside
{
	margin-right: 5px;
	width: 170px;
	float: left;
}

body
{
	background: #F3F3F3;
	font-size: 15px;
	font-family: Arial;
	margin:0;
}


header #logo
{
	float: left;
	width: 12%;
	text-align: center;
}

header #titulo
{
	float: right;
	width: 85%;
	text-align: center;
	margin-top: 30px;
}

header #titulo h1
{
	margin: 0;
	padding: 0;
}

table tr:nth-child(2n)
{
	background: #E5E5E5;
}


table,th,td
{
	border:1px solid #555555;
	border-collapse:collapse;
	padding: 3px;
}

table .centro
{
	text-align: center;
}

#el_codigo h2 {
display: inline;
}

#pagina
{
	background: white;
	border: 1px solid lightgray;
	border-radius: 10px;
	margin:20px auto;
	min-height: 500px;
	padding: 10px;
	width: 1000px;
}

#pantallas
{
	float: left;
	width: 990px;
}

#procesar
{
	float: left;
	height: 5px;
	width: 990px;
}

.cajasG
{
	border: 1px solid lightgray;
	border-radius: 5px;
	font-size: .75em;
	margin: 0 auto;
	width: 980px;
}

.cajasG .titulos
{
	font-weight: bold;
	text-align: center;
}

.cajas
{
	border: 1px solid lightgray;
	border-radius: 5px;
	font-size: .9em;
	margin: 0 auto;
	width: 600px;
}

.cajas p
{
	margin: 10px;
}

.cajas p label
{
	display: inline-block;
	margin-right: 10px;
	min-width: 165px;
}

.cajas input, .cajas select
{
	width: 240px;
	border-radius: 3px;
	border: 1px solid lightgray;
	padding: 5px;
}

.cajas .lhora
{
	width: 60px;
}

.cajitas
{
	min-width: 240px;
	border-radius: 3px;
	border: 1px solid lightgray;
	padding: 5px;
	display: inline-block;
}


.clr
{
	clear: both;
	height: 20px;
}
.titulos_cajas
{
	background: /*lightgray*/#C6E2FF;
	font-size: 1em;
	font-weight: bold;
	padding: 5px;
	text-align: center;
	width: auto;

}

.titbtn
{
	background: lightgray;
	border: 1px grey solid;
	clear: both;
	padding: 8px;
	width: auto;
}

nav
{
	float: left;
}

nav ul
{
	padding: 0;
	margin: 2px;
}
nav ul li
{
	border: 1px grey solid;
	list-style: none;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	position: relative;
	padding: 3px;
	width: 130px;
}

nav ul li:hover
{
	background: lightgrey;
	cursor: pointer;
}


/*/// MENU    */

  nav ul ul
  {
    left: 0;
    margin: 0;
    display: none;
    padding: 0;
    position: absolute;
    top: 23px;
    background: lightgrey;
    z-index: 60;
  }


  nav ul li:hover > ul { display: block; }


  nav ul ul li
  {
    height: 0; /* no son visibles */
    background: white;
    border-bottom: 1px solid lightgrey;
    overflow: hidden;
    padding: 0;
    width: 130px;
  }

  nav ul ul li:hover
  {
  	background: lightgrey;
  }

  nav ul li:hover > ul li
  {
    height: 25px; /* los mostramos */
    overflow: visible;
    padding: 0;
  }

